*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  width: 100%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.Info, .Inicio{
  cursor: pointer;
}

.Activo{
  outline: 3px solid grey;
  text-decoration: underline grey;
}

.Marron{
  color:brown;
  transition: all 1s;
}

.Marron-bg, .Marron-bg > div > div > .Tarjeta::-webkit-scrollbar-thumb{
  background-color: brown;
  transition: all 1s;
}

.Naranja{
  color: orange;
  transition: all 1s;
}

.Naranja-bg, .Naranja-bg > div > div > .Tarjeta::-webkit-scrollbar-thumb{
  background-color: orange;
  transition: all 1s;
}

.Amarillo{
  color: rgb(207, 207, 4);
  transition: all 1s;
}

.Amarillo-bg, .Amarillo-bg > div > div > .Tarjeta::-webkit-scrollbar-thumb{
  background-color: rgb(207, 207, 4);
  transition: all 1s;
}

.Verde{
  color: green;
  transition: all 1s;
}

.Verde-bg, .Verde-bg > div > div > .Tarjeta::-webkit-scrollbar-thumb{
  background-color: green;
  transition: all 1s;
}

.Azul{
  color: blue;
  transition: all 1s;
}

.Azul-bg, .Azul-bg > div > div > .Tarjeta::-webkit-scrollbar-thumb{
  background-color: blue;
  transition: all 1s;
}

.Celeste{
  color: skyblue;
  transition: all 1s;
}

.Celeste-bg, .Celeste-bg > div > div > .Tarjeta::-webkit-scrollbar-thumb{
  background-color: skyblue;
  transition: all 1s;
}

.Rojo{
  color: red;
  transition: all 1s;
}

.Rojo-bg, .Rojo-bg > div > div > .Tarjeta::-webkit-scrollbar-thumb{
  background-color: red;
  transition: all 1s;
}

.Violeta{
  color: rgb(130, 112, 179);
  transition: all 1s;
}

.Violeta-bg, .Violeta-bg > div > div > .Tarjeta::-webkit-scrollbar-thumb{
  background-color: rgb(130, 112, 179);
  transition: all 1s;
}

.Header{
  background-color: rgba(245, 222, 179, 0.8 );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.Header h3{
  display: flex;
  justify-content: center;
  text-shadow: -1px 2px 2px rgb(128, 128, 128), -2px 3px 1px rgb(200, 200, 200);
}

.Titulo{
  text-shadow: -1px 2px 2px rgb(128, 128, 128), -2px 3px 1px rgb(200, 200, 200);
  text-align: center;
}

.Span{
  color:black;
}

.Tarjeta{
  box-shadow: -2px 2px 2px rgb(128, 128, 128), -3px 3px 5px rgb(50, 50, 50);
  overflow-wrap: break-word;
  padding: 10px 8px 10px 15px;
  width: 75vw;
  height: 25vh;
  background-color: wheat;
  margin: 15vh auto 10vh;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Tarjeta:hover{
  scale: 1.01;
}

.Tarjeta::-webkit-scrollbar{
  position:absolute;
  width: 7px;
  
}

.Tarjeta::-webkit-scrollbar-thumb{
  border-radius: 20px;
  border-right: 2px solid wheat;
  border-left: 2px solid wheat;
}

.Change{
  background-color: rgb(245, 222, 179);
  width: 20vw;
  height: 5vh;
  white-space: normal;
  display:inline-block;
  border: 1px solid grey;
  border-radius: 20px;
  margin-bottom: 15px;
}

.Change:hover{
  outline: 3px solid grey;
  cursor: pointer;
}

.Change:active{
  scale: 1.05;
}

.Centrado{
  display: flex;
  justify-content:space-evenly;
}

@media (max-width: 500px) {
  .Change{
    width: 30vw;
  }

  .Tarjeta{
    height: 30vh;
  }
}